/* CSS - Cascading Style Sheet */

/* This uses padding. */
.box1 {
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 50px;
}


/* This uses the padding shorthand. */
.box2 {
    padding: 40px 60px;
}

.box2 {
    padding: 100px;
}

.box2 {
    padding: 20px 30px 40px 50px;
}


/* This uses margin. */
.box3 {
    margin-top: 100px;
    margin-right: 20px;
    margin-bottom: 80px;
    margin-left: 40px;
}


/* This uses the margin shorthand. */
.box4 {
    margin: 50px 100px;
}

.box4 {
    margin: 50px;
}

.box4 {
    margin: 10px 20px 30px 40px;
}

/* Border */
.mix-borders {
    border: 1px solid rgb(234, 234, 234);
}

.mix-borders {
    border-width: 3px;
    border-style: solid;
    border-color: chocolate;
}


.mix-borders {
    border-style: dotted dashed solid double;
    border-radius: 10px;
}

/* How to make a circle */
.circle-container {
    background-color: burlywood;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}