/* Relative Positioning */
/* Relative to its original position */
.relative {
    background-color: cadetblue;
    position: relative;
    top: 0px;
    left: 0px;
}


/* Absolute Positioning */
/* Relative to its parent element */
.absolute {
    background-color: burlywood;
    position: absolute;
    top: 0px;
    left: 0px;
}


/* Fixed Positioning */
/* Relative to the viewport */
.fixed {
    background-color: orange;
    position: fixed;
    bottom: 0px;
    right: 0px;
}

/* Sticky Positioning */
.sticky {
    background-color: brown;
    position: sticky;
    top: 0px;
}