span {
    background-color: green;
    color: white;
    font-size: 18px;
}

.class-name{
    color:red;
    background-color: pink;
}

#id-name{
    font-weight: bold;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a[target="_blank"]{
    text-decoration: none;
}

h1, h2, .parag{
    color:orange;
}

.ancestor > p{
    font-style: italic;
    color: green;
}

a.link:hover{
    color: red;
}

p::first-letter{
    font-size: 150%;
}

#test p:nth-of-type(2){
    background-color: blue;
}