.color-example {
    color: red;
    background-color: #ececec;
}

.background-example {
    background-color: rgb(28, 162, 48);
}

.background-position-example {
    background-image: url(background.jpg);
    height: 400px;
    width: 1400px;
    background-repeat: no-repeat;
    background-position: center top;
}


.opacity-example {
    background-color: rgba(7, 170, 156, 0.5);
}


.image-sizing-example {
    width: 300px;
    height: auto;
    margin: auto;
    display: block;
}
